.main{
    flex: 1;
    min-height: 100vh;
    padding-bottom: 15vh;
    position: relative;
}
.main .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 28px;
    padding: 20px;
    cursor: pointer;
    background: linear-gradient(16deg, #4b90ff, #ff5546); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    background-clip: text;
}

.main .nav img{
    height: 90px;
    width: 100px;
    border-radius: 50%;
    cursor: pointer;

}

.main-container{
    max-width:900px;
    margin: auto;
}

.main .great{
    margin: 50px 0px;
    font-size: 60px;
    color: #c4c7c5;
    font-weight: 400;
    padding: 20px;
    font-size: 55PX;
}

.main .great span {
    background: linear-gradient(135deg, #a15cd1, #5a2d81);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    background-clip: text; 
    font-size:50PX;
}

.main .cards{
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
    gap: 15px;
    padding: 15px;
    
}
.main .card{
    height: 200px;
    padding: 10px;
    background-color: rgb(204, 213, 210);
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    height: 80px;
}

.main .card img{
    width: 30px;
    padding: 6px;
    position:absolute;
    background:white;
    border-radius: 22px;
    bottom: 10px;
    right: 11px;
}

.main .card:hover{
    background: #dfe4ea;
}
.main-bottom{
    position: absolute;
    bottom: 0px;
    width: 100%;
    max-width: 900px;
    padding: 0px 20px;
    margin: auto;
}

.search-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #f0f4f9;
    padding: 10px 20px;
    border-radius: 55px;
    flex: 1;
}

.search-box img{
    width: 24px;
    cursor: pointer;
    margin: 2px;
    gap: 4px;
}
.search-box input{
    flex: 1;
    background: transparent;
    outline: none;
    border: none;
    height: 30px;
    border-radius: 15px;
    padding: 18px;
    font-size: 18px;
    
}
.search-box div{
    display: flex;
    gap: 15px;
    align-items: center;
}
@media (max-width:600px){
    .main-bottom input{
        /* flex:none; */
        width: 150px;
    }
    .main-bottom img{
        width: 21px;
    }
    .search-box{
        padding: 10px 20px;
    }
    .search-box div{
        gap: 10px;
    }

}

.result{
    padding: 0px 7%;
    max-height: 70vh;
    overflow-y: scroll;
    /* overflow: hidden; */
}
.result::-webkit-scrollbar{
    display: none;
}

.result-title{
    margin: 40px 0px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.Result-data{
    display: flex;
    gap: 7px;
}

.bottom-text{
    width: auto;
    /* display: inline;  */
    margin-top: 7px;
    margin-bottom: 15px;
    text-align: center; 
}
.loader{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.loader hr{
    border-radius: 5px;
    border: none;
    background-color: #f6f7f8;
    background: linear-gradient(to right,#9ed7ff,#ffffff,#9ed7ff);
    background-size: 800px 3px;
    height: 23px;
    animation: loader 3s;
}

@keyframes loader {
    0%{
        background-position:  -800px 0px;
    }
    100%{
        background-position: 800px 0;
    }
    
}
